@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
* {
    font-family: 'Carter One', cursive;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    width: 100%;
}

.head-cv {
    background-color: #ECECEC;
    /*border-style: solid;*/
    width: 100%;
    display: flex;
}

.profil-image img {
    /*border-style: solid;*/
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 15px;
    /*background-image: url("https://media-exp1.licdn.com/dms/image/C4D03AQFT8navVi_XTQ/profile-displayphoto-shrink_800_800/0/1538328089922?e=1672272000&v=beta&t=1jWpNX2vPmDD6t1sM_vLs3_zTQdY0Vx7Xy_0K2dWclo");*/
}

ul.navigation {
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    
}  

a {
    display: block;
    text-decoration: none;
    margin: 15px;
}

nav {
    /*border-style: solid;*/
    border: black;
    height: 55px;
    width: 100%;
    background-color: #F7F7F7;
}

li a {
    display: block;
    /*color: white;*/
    text-align: center;
    /*padding: 14px 16px;*/
    
}

li a:hover {
    background-color: #dadada;
}

.img-bg {
    width: 100%;
    height: 100%;

}

.box-bg {
    /*border-style: solid;*/
    width: 100%;
    height: 310px;
}

main {
    width: 100%;
}

section {
    padding-top: 50px;
    width: 100%;
}

aside {
    height: 60px;
    width: 70px;
    /*border-style: solid;*/
} 

h2 {
    text-align: center;
}

img {   
    height: 100%;
    width: 100%;
}

aside {
    height: 330px;
    width: 405px;
    /*border-style: solid;*/
}

.presentation {  
    width: 620px;
    height: 310px;
    /*border-style: solid;*/
}

.presentation-box {
    width: 88%;
    height: 100%;
    /* border-style: solid; */
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 60px;
    margin: auto;
}

.flex {
    display: flex;
}

.formation-box {
    width: 88%;
    height: 100%;
    /* border-style: solid; */
    margin: auto;
    font-size: 13px;
    padding-bottom: 25px
}

.form-image-box {
    margin-left: 30%;
}

.expro-box {    
    width: 88%;
    height: 100%;
    /* border-style: solid; */
    padding-top: 15px;
    margin: auto;
    font-size: 13px;
    padding-bottom: 55px;
}

.image-container {
    justify-content: space-between;
    width: 65%;
    margin-top: 56px;
    margin: auto;
    padding-bottom: 93px;
    padding-top: 52px;
    
}

.image-box {
    width: 150px;
    height: 150px;
    /*border-style: solid;*/
}

footer {
   /* border-style: solid;*/
    text-align: center;
    background-color: #DADADA;
    padding-bottom: 1px;
}

footer p {
    margin-top: 1px;
    padding-top: 14px;
}

.color-section1 {
    background-color: #F0F0F0;
}

.color-section2 {
    background-color: #FCFCFC;
}

.projets {
    width: 100%;
}

.cv-html-css {
    width: 80%;
    height: 87px;
    /*background-color: aqua;*/
    padding: 8px;
    margin: auto;
    margin-top: 42px;
    box-shadow: 0px 0px 30px #88888838;
}

.mrgbtm {
    margin-bottom: 56px;
}
